<div [ngSwitch]="type" class="container">
    <ng-template ngSwitchCase="input">
        <input
            nz-input    
            [placeholder]="placeholder"
            [style.width]="width"
            [(ngModel)]="textValue"
            (ngModelChange)="inputChange($event)"
        />
    </ng-template>
    <ng-template ngSwitchCase="textarea">
        <textarea
            nz-input
            [style.width]="width"
            [placeholder]="placeholder"
            [(ngModel)]="textValue"
            (ngModelChange)="inputChange($event)"
        ></textarea>
    </ng-template>
    <ng-template ngSwitchCase="text">
        <ng-content></ng-content>
    </ng-template>
</div>
