<div class="container">
    <user-menu (checkTabEmit)="tabChange($event)"></user-menu>

    <div [ngSwitch]="menuTypeIndex" class="container__content">
        <ng-template [ngSwitchCase]="menuTypes.companyOptions">
            <user-companies></user-companies>
        </ng-template>

        <ng-template [ngSwitchCase]="menuTypes.userOptions">
            <user-options></user-options>
        </ng-template>

        <ng-template [ngSwitchCase]="menuTypes.options">
            <options></options>
        </ng-template>

        <ng-template [ngSwitchCase]="menuTypes.secureOptions">
            <secure-options></secure-options>
        </ng-template>
    </div>
</div>
