.graph {
    display: flex;
    flex-direction: column;
    width: 400px;
    
    &__canvas {
        height: 700px;
        border: 1px solid steelblue;
    }

    &__panel {
        display: flex;
        padding: 5px;
        width: 100%;
        nz-date-picker {
            width: 100%;
        }

        .btn {
            margin-left: 10px;;
        }
    }
}

::ng-deep.grid {
    fill: khaki;
    stroke: teal;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}