.graph {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;

    &__canvas {
        height: 100%;
        border: 1px solid steelblue;
    }

    &__panel {
        display: flex;
        padding: 5px;
        width: 100%;
        nz-date-picker {
            width: 100%;
        }

        .btn {
            margin-left: 10px;;
        }
    }
}