<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <t-input [placeholder]="'Task name'"></t-input>

  <div class="form__line">
    <span>Type</span>
    <t-select [width]="'200px'" formControlName="type"></t-select>
  </div>

  <div class="form__line">
    <span>Spend time</span>
    <t-input
      [width]="'200px'"
      [placeholder]="'spend time'"
      formControlName="spendTime"
    ></t-input>
  </div>

  <div class="form__line">
    <span>Priority</span>
    <t-select [width]="'200px'" formControlName="priority"></t-select>
  </div>

  <div class="form__line">
    <span>State</span>
    <t-select [width]="'200px'" formControlName="priority"></t-select>
  </div>

  <div class="form__line">
    <span>Performers</span>
    <t-select
      isMulti="true"
      [type]="'t-search'"
      [width]="'200px'"
      [items]="assignee$ | async"
      [itemTemplate]="isSelected"
      formControlName="performers"
    ></t-select>
    <ng-template let-option="option" #isSelected>
      <div>
        <i nz-icon nzType="check" nzTheme="outline" style="margin-right: 5px"></i>
        <span>{{ option.name }}</span>
      </div>
    </ng-template>
  </div>

  <div class="form__line">
    <span>Assignee</span>
    <t-select
      [width]="'200px'"
      [items]="assignee$ | async"
      formControlName="assignee"
    ></t-select>
  </div>

  <div class="form__context">
    <t-input [placeholder]="'Описание'" [type]="'textarea'"></t-input>
  </div>

  <div class="form__submit">
    <button type="submit">создать</button>
    <button (click)="auto()">создать</button>
  </div>
</form>
