<div class="container">
  <div class="container__menu">
    <div class="left">
      <i nz-icon nzType="redo"></i>
      <nz-date-picker
        nzMode="month"
        (ngModelChange)="dateChange($event)"
      ></nz-date-picker>
      <nz-select></nz-select>
    </div>
    <div class="right">
      <i nz-icon nzType="appstore-add" nzTheme="outline" (click)="createTask()"></i>
    </div>
  </div>
  <div class="container__index">
    <app-graph
      [tasks]="tasks$ | async"
      [processTypes]="processTypes"
      (lineEmit)="lineEmit($event)"
      (nodeEmit)="nodeEmit($event)"
      (lineMouseEnterEmit)="lineMouseEnterEmit($event)"
      class="container__graph"
    ></app-graph>

    <app-people-list
      [assignes]="assignes$ | async"
      class="container__people-list"
    ></app-people-list>
  </div>
</div>
