.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__graph {
    height: 100%;
  }

  &__index {
      padding: 10px;
    display: flex;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    background: lightslategray;
    padding: 5px;
    width: 100%;

    nz-date-picker {
      width: 150px;
    }

    nz-select {
      margin-left: 10px;
      width: 150px;
    }

    .left {
    }

    .right {
    }

    .btn {
      margin-left: 10px;
    }
  }
}
