<div class="graph">
    <div class="graph__menu">
        <div class="graph__menu-left">
            <t-select
                class="m-r-10"
                [value]="board"
                [items]="boards$ | async"
                [width]="'300px'"
                (changeEmit)="changeBoard($event)"
            ></t-select>

            <nz-date-picker
                nzMode="month"
                (ngModelChange)="dateChange($event)"
            ></nz-date-picker>
        </div>

        <div class="graph__menu-right">
            <t-dropdown [icon]="'layout'">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="createTask()">Карточка задач</li>
                    <li nz-menu-item (click)="createBoard()">Карточка исполнителей</li>
                </ul>
            </t-dropdown>

            <t-dropdown [icon]="'appstore-add'">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="createTask()">Создать задачу</li>
                    <li nz-menu-item (click)="createBoard()">Создать доску</li>
                </ul>
            </t-dropdown>
        </div>
    </div>

    <div class="graph__index">
        <app-graph
            class="graph__index-track"
            [tasks]="tasks$ | async"
            [processTypes]="processTypes"
        ></app-graph>

        <div class="graph__index-cards">
            <app-people-list
                class="list"
                [boardId]="board?.id"
                [selectedIds]="selectedAssigneIds"
            ></app-people-list>

            <app-task-list
                class="list"
                [tasks]="tasks$ | async"
            ></app-task-list>
        </div>
    </div>
</div>
