@import 'variables';

.header {
    background: $basic;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100%;

    &__selectors {
        div {
            width: 200px;
            padding: 10px;
            border-radius: 10px;

            &:hover {
                font-weight: bold;
                background: $color-basic-light;
            }
        }
    }

    &__auth {
        &-in {
            display: flex;
            height: 100%;
            align-items: center;
            margin-right: 20px;

            nz-avatar {
            }
        }

        .log-out {
            display: flex;
        }

        i {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .left {
        margin-left: 10px;

        span {
            color: $color_logo;
        }
    }

    .right {
        i {
            padding: 10px;
        }
    }

    i {
        font-size: 24px;
        color: white;
    }

    span {
        color: white;
        margin-left: 10px;
        font-size: 1.3rem;
    }
}
