@import '../../../../../assets/styles/variables.scss';

.header {
  background: $basic;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &__auth {
    .log-in {
      display: flex;

      nz-avatar {
       align-self: center;
      }
    }

    .log-out {
      display: flex;
    }

    i {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .right {
    i {
      padding: 10px;
    }
  }

  i {
    font-size: 24px;
    color: white;
  }

  span {
    color: white;
    font-size: 1em;
  }
}
