<div class="box">
  <div class="box__header">
    <span>Войти</span>
  </div>

  <form class="box__form" [formGroup]="form">
    <input
      nz-input
      type="text"
      placeholder="Email or name"
      formControlName="login"
    />
    <input
      nz-input
      type="password"
      placeholder="password"
      formControlName="password"
    />
  </form>
  <button nz-button (click)="login()">Войти</button>
  <div class="box__error" *ngIf="error">
    <span>{{error}}</span>
  </div>

  <div class="box__down">
    <a [routerLink]="'register'">Регистрация</a>
  </div>
</div>
