@import 'variables';

.card {
    background: $basic-white;
    height: 100%;

    &__input {
        margin-bottom: 5px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        background: $basic-back;
        margin: 5px;

        span {
            font-size: $font_size_context;
            padding-left: 5px;
            color: white;
        }
    }

    &__icons {
        margin-right: 10px;

        i {
            color: white;
            font-size: $font_size_context;
        }

        span {
            font-size: $font_size_context;
        }
    }
}

.select {
    span {
        padding-left: 5px;
        font-size: $font_size_title;
        color: $cursor-hover;
    }
}
