.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__line {
      margin-bottom: 10px;
    display: flex;
    align-items: center;

    span {
      width: 100px;
    }
  }

  &__context {
      width: 100%;
      height: 100%;

      t-input {
          height: 100%;
      }
  }

  &__submit {
    width: 100%;

    button {
      width: 150px;
      height: 30px;
    }
  }
}

t-input {
  margin-bottom: 10px;
}