<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__context">
        <div class="form__context-line">
            <t-input
            [width]="'100%'"
                [placeholder]="'Task name'"
                formControlName="name"
            ></t-input>
        </div>

        <div class="form__context-line">
            <span>Spend time</span>
            <t-input
                [width]="inputWidth"
                [placeholder]="'spend time'"
                formControlName="spendTime"
            ></t-input>
        </div>

        <div class="form__context-line">
            <span>Priority</span>
            <t-select [width]="inputWidth" formControlName="priority"></t-select>
        </div>

        <div class="form__context-line">
            <span>State</span>
            <t-select [width]="inputWidth" formControlName="priority"></t-select>
        </div>

        <div class="form__context-line">
            <span>Performers</span>
            <t-milty-select
                [type]="'t-search'"
                [width]="inputWidth"
                [items]="assignee$ | async"
                [itemTemplate]="isSelected"
                formControlName="performers"
            ></t-milty-select>
            <ng-template let-option="option" #isSelected>
                <div>
                    <i
                        nz-icon
                        nzType="check"
                        nzTheme="outline"
                        style="margin-right: 5px"
                    ></i>
                    <span>{{ option.name }}</span>
                </div>
            </ng-template>
        </div>

        <div class="form__context-line">
            <span>Assignee</span>
            <t-select
                [width]="inputWidth"
                [items]="assignee$ | async"
                formControlName="assignee"
            ></t-select>
        </div>

        <div class="form__context-description">
            <t-input
                [placeholder]="'Описание'"
                [type]="'textarea'"
                formControlName="info"
            ></t-input>
        </div>
    </div>

    <div class="form__submit">
        <button type="submit">{{ submitName[action] }}</button>
        <i nz-icon nzType="field-time" nzTheme="outline"></i>
    </div>
</form>
