@import '../../../assets/styles/variables.scss';
$padding-right: 20px;
$padding-left: 20px;

.form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__context {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-line {
            padding: 10px $padding-right 0 $padding-left;
            display: flex;
            align-items: center;

            t-input {
                margin-top: 10px;
                height: 100%;
                width: 100%;
            }

            span {
                width: 100px;
            }
        }

        &-description {
            padding: 10px $padding-right 0 $padding-left;
            height: 100%;
        }
    }

    &__submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: $header_footer;
        background: $basic;
        padding: 0 20px;

        &-icons {
            display: flex;

            i {
                margin: 10px;
                color: white;
                font-size: 1.8em;
            }
        }

        button {
            border: 1px solid white;
            cursor: pointer;
            background: $basic;
            width: 100px;
            height: 30px;
            color: white;
            margin-left: 10px;

            &:hover {
                border: 2px solid $cursor-hover;
                color: $cursor-hover;
            }
        }
    }
}

::ng-deep.ant-drawer-body {
    padding: 0;
}
