@import 'mixins';
@import 'variables';

$padding-right: 20px;
$padding-left: 20px;

.form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__context {
        display: flex;
        flex-direction: column;
        overflow: auto;

        height: 100%;

        &-line {
            padding: 10px 0 0 $padding-left;
            display: flex;
            align-items: center;

            .ng-invalid {
                ::ng-deep.ant-input,
                ::ng-deep.ant-select-selector {
                    border: 1px solid red;
                }
            }

            t-input {
                margin-top: 10px;
                height: 100%;
                width: 100%;
            }

            span {
                min-width: 100px;
            }
        }

        &-files {
            padding: 20px 0 0 $padding-left;
            width: 200px;

            ::ng-deep.ant-upload-btn {
                padding: 0;
                height: 5px;
            }
        }

        &-description {
            padding: 20px $padding-right 10px 20px;
            flex-grow: 10;
            min-width: 200px;

            ::ng-deep.ant-input {
                min-height: 200px;
            }
        }

        &-times {
            padding: 10px $padding-right 0 $padding-left;
            height: 100%;
        }
    }

    &__footer {
        background: $basic;

        &-edit {
            display: flex;
            flex-direction: column;
            padding: 10px;

            button {
                width: 200px;
                align-self: flex-end;
            }

            .spend-time {
                height: auto;
                display: flex;

                t-input {
                    padding: 5px;

                    &[type='textarea'] {
                        width: 100%;
                    }
                }
            }

            span {
                color: white;
            }
        }

        .icons {
            display: flex;

            i {
                margin: 10px;
                color: white;
                font-size: 1.8em;

                &.disable {
                    visibility: hidden;
                }

                &.check {
                    color: $cursor-hover;
                }
            }
        }

        &-submit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: $header_footer;
            padding: 0 20px;

            .disable {
                @include disable-btn;
            }

            button {
                border: 1px solid white;
                cursor: pointer;
                background: $basic;
                width: 100px;
                height: 30px;
                color: white;
                margin-left: 10px;

                &.check {
                    background: $cursor-hover;
                    border: 1px solid $cursor-hover;

                    color: black;

                    &:hover {
                        border: 2px solid black;
                        background: $basic;
                        border: 1px solid $cursor-hover;
                    }
                }

                &:hover {
                    border: 2px solid $cursor-hover;
                    color: $cursor-hover;
                }
            }
        }
    }
}

.flx-row {
    display: flex;
    flex-flow: row wrap;
}

.flx-column {
    display: flex;
    flex-direction: column;
}

::ng-deep.ant-drawer-body {
    padding: 0;
}
