<form class="form" isDirty [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__header">
        <span class="title">{{
            action === 'CREATE'
                ? 'Создание задания'
                : form.get('symbol')?.value + '-' + form.get('id')?.value
        }}</span>

        <div class="btns">
            <i nz-icon nzType="form" *ngIf="action !== 'CREATE'"></i>

            <ng-container>
                <i
                    nz-icon
                    nzType="link"
                    nz-popover
                    [nzPopoverContent]="setLink"
                    nzPopoverTrigger="click"
                ></i>
                <ng-template #setLink>
                    <app-set-link [taskId]="form.get('id')?.value"></app-set-link>
                </ng-template>
            </ng-container>

            <nz-upload
                [nzMultiple]="true"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                (nzChange)="handleChange($event)"
            >
                <i nz-icon nzType="paper-clip"></i>
            </nz-upload>
        </div>
    </div>

    <div class="form__context">
        <div class="form__context-line" style="padding-right: 20px">
            <t-input
                [width]="'100%'"
                [placeholder]="'Task name'"
                formControlName="name"
            ></t-input>
        </div>

        <div class="flx-row">
            <div class="flex-column">
                <div class="form__context-line">
                    <span>Spend time</span>
                    <t-input
                        type="input"
                        [width]="inputWidth"
                        [placeholder]="'spend time'"
                        formControlName="spendTime"
                    ></t-input>
                </div>

                <div class="form__context-line">
                    <span>Priority</span>
                    <t-select
                        [items]="priorities$ | async"
                        [width]="inputWidth"
                        formControlName="priority"
                    ></t-select>
                </div>

                <div class="form__context-line">
                    <span>State</span>
                    <t-select
                        [width]="inputWidth"
                        [items]="states$ | async"
                        formControlName="state"
                    ></t-select>
                </div>

                <div class="form__context-line">
                    <span>Performers</span>
                    <t-milty-select
                        [type]="'t-search'"
                        [width]="inputWidth"
                        [items]="assignee$ | async"
                        [itemTemplate]="isSelected"
                        formControlName="performers"
                    ></t-milty-select>
                    <ng-template let-option="option" #isSelected>
                        <div>
                            <i
                                nz-icon
                                nzType="check"
                                nzTheme="outline"
                                style="margin-right: 5px"
                            ></i>
                            <span>{{ option.name }}</span>
                        </div>
                    </ng-template>
                </div>

                <div class="form__context-line">
                    <span>Assignee</span>
                    <t-select
                        [width]="inputWidth"
                        [items]="assignee$ | async"
                        formControlName="assignee"
                    ></t-select>
                </div>
            </div>

            <div class="form__context-description">
                <t-input
                    [placeholder]="'Описание'"
                    [type]="'textarea'"
                    formControlName="info"
                ></t-input>
            </div>
        </div>

        <app-spend-time-list
            class="form__context-times"
            *ngIf="time?.classList.contains('check')"
            [spendTimes]="task.histories"
        ></app-spend-time-list>
    </div>

    <div class="form__footer">
        <div class="form__footer-edit" *ngIf="addTimeBtn?.classList.contains('check')">
            <div class="spend-time">
                <t-input [placeholder]="'время'"></t-input>
                <t-input
                    [placeholder]="'Описание (необязательно)'"
                    type="textarea"
                ></t-input>
            </div>
            <span>1d - 8h</span>
            <button nz-button nzType="primary">add spend time</button>
        </div>

        <div class="form__footer-submit">
            <div>
                <button
                    [class.disable]="form.invalid"
                    [disabled]="form.invalid"
                    type="submit"
                >
                    {{ submitName[action] }}
                </button>

                <button #addTimeBtn (click)="timeSet(addTimeBtn)">
                    <i class="icon" nz-icon nzType="plus"></i>
                    time
                </button>
                <ng-template #addTimeTemplate>
                    <div>
                        <t-input [placeholder]="'1d = 8h'"></t-input>
                        <t-input type="textarea" [placeholder]="'1d = 8h'"></t-input>
                    </div>
                    §
                </ng-template>
            </div>

            <div class="icons">
                <i
                    #time
                    nz-icon
                    [class.disable]="action === 'CREATE'"
                    (click)="timeSet(time)"
                    nzType="field-time"
                    nzTheme="outline"
                ></i>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
            </div>
        </div>
    </div>
</form>
