@import "../../../../../assets/styles/variables.scss";

.graph {
    height: 100%;
    width: 100%;
    
    &__canvas {
        height: 100%;
    }
}

::ng-deep.path-task {
    stroke-width: 4;
    fill: none;
    stroke: none;
    opacity: 0.7;
    &:hover {
        stroke-width: 6;
    }
}

::ng-deep.task__name {
    color: white;
    box-shadow: 0 0 2px 0 orangered;
    opacity: 0.7;
    padding: 2px;
    font-size: 10px;
    text-align: center;
    background: $basic;
}

::ng-deep.type__name {
    color: white;
    opacity: 0.25;
    // border-radius: 4px;s
    font-size: 10px;
    text-align: center;
}

::ng-deep.node {
    fill:  #4B0082;
    opacity: 0.7;
    &:hover {
        r: 6;
    }
}

::ng-deep .barsEndlineText {
    font-size: 0.7em;
    fill: white;
}