@import 'variables';

.menu {
    position: absolute;
    top: $header_height;
    left: 0;
    background: $basic;
    width: 100%;
    height: auto;

    ::ng-deep .ant-tabs-nav-wrap {
        display: flex;
        justify-content: center;

        .ant-tabs-nav-list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 700px;
            padding-left: 50px;
        }
    }

    ::ng-deep .ant-tabs-tab-btn {
        font-size: 1.1rem;
        color: #f0f0f4;
    }

    ::ng-deep .ant-tabs-content-holder {
        height: 0;
    }

    ::ng-deep .ant-tabs-nav {
        margin: 0;
        padding: 0;
    }
}
