<div class="container">
    <div #type class="container__row" *ngFor="let spendTime of _spendTimes">
        <div class="left-side">
            <div class="flx-row">
                <div class="container__row-date">
                    <ng-container *ngIf="type?.isEdit; else readOnlyDate">
                        <t-input [(ngModel)]="spendTime.date" [type]="'input'"></t-input>
                    </ng-container>
                    <ng-template #readOnlyDate>
                        {{ spendTime.date | date: 'dd.MM.yyyy' }}
                    </ng-template>
                </div>

                <div class="container__row-name">
                    {{ spendTime.perfomer.name }}
                </div>

                <div class="container__row-spendtime">
                    <ng-container *ngIf="type?.isEdit; else readOnlySpendTime">
                        <t-input
                            [(ngModel)]="spendTime.spendTime"
                            [type]="'input'"
                        ></t-input>
                    </ng-container>
                    <ng-template #readOnlySpendTime>
                        {{ spendTime.spendTime }}
                    </ng-template>
                </div>
            </div>

            <div class="container__row-btns">
                <button
                    *ngIf="+userId === +spendTime.perfomer.id && !type?.isEdit"
                    (click)="edit(type)"
                >
                    edit
                </button>
                <ng-container *ngIf="+userId === +spendTime.perfomer.id && type?.isEdit">
                    <button (click)="edit(type)">close</button>
                    <button (click)="save(type, spendTime)">save</button>
                    <button (click)="remove(spendTime)">remove</button>
                </ng-container>
            </div>
        </div>

        <div class="container__row-message">
            <ng-container *ngIf="type?.isEdit; else readOnlyMessage">
                <t-input
                    [(ngModel)]="spendTime.message"
                    [type]="type?.isEdit ? 'textarea' : 'text'"
                ></t-input>
            </ng-container>
            <ng-template #readOnlyMessage>
                {{ spendTime.message }}
                ></ng-template
            >
        </div>
    </div>

    <div class="container__menu">
        <button (click)="add()">added new spend time</button>
    </div>
</div>
