.container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__row {
        display: flex;
        flex-direction: column;
        margin: 5px;
        width: 100%;
        border-top: 1px solid silver;

        .left-side {
            display: flex;
            flex-direction: column;
        }

        &-date {
            width: 70px;
        }

        &-name {
            margin-left: 10px;

            .spendtime {
                margin-left: 10px;
                font-weight: 200;
                color: slateblue;
            }

            .message {
                margin-left: 10px;
                color: slateblue;
            }
        }

        &-spendtime {
            width: 50px;
            margin-left: 10px;
            white-space: nowrap;
        }

        &-message {
            width: 100%;
            margin-left: 10px;
        }

        &-btns {
            display: flex;

            button {
            }
        }
    }
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
}
