<div class="container">
    <div class="container__row" *ngIf="_storeHistory$ | async as histories; else noData">
        <div class="container__row-name" *ngFor="let history of histories">
            <div>
                <i nz-icon [nzType]="getTypeIcon(history.type)" nzTheme="outline"></i>
                {{ history.performer?.name }}
            </div>
            <div *ngFor="let historyItem of history.items">
                <div [ngSwitch]="historyItem.type">
                    <ng-template [ngSwitchCase]="'spendTime'">
                        <div
                            #spendTimeRow
                            (mouseenter)="mouseEnter(spendTimeRow, history.performer.id)"
                            (mouseleave)="mouseLeave(spendTimeRow)"
                            style="display: flex; justify-content: space-between"
                        >
                            <div class="context">
                                <span>{{ historyItem.date | date: 'dd.MM.yy' }}</span>
                                <span class="message">{{ historyItem.value }}</span>
                            </div>

                            <ng-container *ngIf="spendTimeRow.isEdit">
                                <ng-container
                                    *ngTemplateOutlet="
                                        btns;
                                        context: {
                                            type: 'spendTimeEDIT',
                                            history: historyItem
                                        }
                                    "
                                ></ng-container>
                            </ng-container>
                        </div>
                    </ng-template>

                    <ng-template [ngSwitchCase]="'spendTimeEDIT'" class="edit-box">
                        <div class="edit-box">
                            <div class="spend-time-edit">
                                <nz-date-picker
                                    [(ngModel)]="historyItem.date"
                                ></nz-date-picker>
                                <t-input
                                    [type]="'input'"
                                    [(ngModel)]="historyItem.value"
                                ></t-input>
                            </div>

                            <ng-container
                                *ngTemplateOutlet="
                                    editBtns;
                                    context: { history: historyItem, type: 'message' }
                                "
                            ></ng-container>
                        </div>
                    </ng-template>

                    <ng-template [ngSwitchCase]="'message'">
                        <div
                            #messageRow
                            (mouseenter)="mouseEnter(messageRow, history.performer.id)"
                            (mouseleave)="mouseLeave(messageRow)"
                            style="display: flex; justify-content: space-between"
                        >
                            <div class="context">
                                <span>{{ historyItem.date | date: 'dd.MM.yy' }}</span>
                                <span class="message">{{ historyItem.value }}</span>
                            </div>

                            <ng-container *ngIf="messageRow.isEdit">
                                <ng-container
                                    *ngTemplateOutlet="
                                        btns;
                                        context: {
                                            type: 'messageEDIT',
                                            history: historyItem
                                        }
                                    "
                                ></ng-container>
                            </ng-container>
                        </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'messageEDIT'">
                        <div class="edit-box">
                            <div class="spend-time-edit editbox">
                                <nz-date-picker
                                    [(ngModel)]="historyItem.date"
                                ></nz-date-picker>
                                <t-input
                                    [type]="'textarea'"
                                    [(ngModel)]="historyItem.value"
                                ></t-input>
                            </div>

                            <ng-container
                                *ngTemplateOutlet="
                                    editBtns;
                                    context: { history: historyItem, type: 'message' }
                                "
                            ></ng-container>
                        </div>
                    </ng-template>

                    <ng-template [ngSwitchCase]="'update'"></ng-template>
                </div>
            </div>

            <ng-template #editBtns let-type="type" let-history="history">
                <div class="editTemplate">
                    <button nz-button nzType="primary" (click)="edit(history, type)">
                        edit
                    </button>
                    <button nz-button nzType="primary" (click)="cancel(history)">
                        cancel
                    </button>
                </div>
            </ng-template>

            <ng-template #btns let-type="type" let-history="history">
                <div class="btns">
                    <i
                        nz-icon
                        [nzType]="'edit'"
                        nzTheme="outline"
                        (click)="toEditTemplate(history, type)"
                    ></i>
                    <i nz-icon [nzType]="'delete'" nzTheme="outline"></i>
                </div>
            </ng-template>
        </div>
    </div>

    <ng-template #noData>
        <app-no-data></app-no-data>
    </ng-template>
</div>
