<div class="employees">
    <div class="employees__links">
        <a>Your employees</a>
        <a>Added new employee</a>
    </div>

    <div
        class="employees__content"
        *ngIf="employees$ | async as employees; else notEmployees"
    >
        <span class="employees__content-count"
            ><span class="count">{{ employees.length + ' ' }}</span>
            <span>employees</span>
        </span>

        <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input type="text" nz-input placeholder="Find employee" />
        </nz-input-group>
        <ng-template #prefixTemplateUser>
            <img src="assets/icons/people.svg" alt="" />
        </ng-template>

        <div class="employees__content-list">
            <div class="employee" *ngFor="let employee of employees">
                <label>{{ employee.name }}</label>
            </div>
        </div>
    </div>

    <ng-template #notEmployees> Not have employees </ng-template>
</div>
