.employees {
    &__links {
        display: flex;

        a {
            margin-right: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &-count {
            .count {
                font-size: 1.2rem;
            }
        }

        &-list {
            margin-top: 15px;

            .employee {
                border-bottom: 1px solid #c1c1c1;
                padding: 10px 0 5px 0;

                label {
                    margin: 20px;
                }
            }
        }
    }
}
