@import 'variables';

.employees {
    &__links {
        display: flex;

        a {
            margin-right: 20px;
        }
    }

    &__search {
        margin-top: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &-count {
            .count {
                font-size: 1.2rem;
            }
        }

        &-list {
            margin-top: 15px;

            .employee {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #c1c1c1;

                img {
                    display: none;
                    cursor: pointer;
                }

                &:hover {
                    img {
                        display: inline;
                    }
                }

                label {
                    margin: 10px;
                }
            }
        }
    }
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    p {
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .name {
        color: $color_confirm_text;
    }
}

.modal_footer {
    display: flex;
    width: 100%;
    justify-content: center;

    &::ng-deep.ant-btn {
        height: 40px;
        width: 100%;
        margin: 0 10px;
    }
}
