<div class="employees">
    <div class="employees__links">
        <a>Your employees</a>
        <a (click)="inviteUser()">Added new employee</a>
    </div>

    <div class="employees__search">
        <span class="employees__content-count"
            ><span class="count">{{ (employeesCount$ | async) + ' employees' }}</span>
        </span>

        <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
                type="text"
                nz-input
                placeholder="Return user name or email"
                (input)="searchUsers($event)"
            />
        </nz-input-group>
        <ng-template #prefixTemplateUser>
            <img src="assets/icons/people.svg" alt="" />
        </ng-template>
    </div>

    <div
        class="employees__content"
        *ngIf="employees$ | async as employees; else notEmployees"
    >
        <div class="employees__content-list">
            <div class="employee" *ngFor="let employee of employees">
                <label>{{ employee.name }}</label>
                <img
                    src="assets/icons/remove.svg"
                    alt=""
                    (click)="showRemoveModal(employee, removeContent, removeFooter)"
                />
            </div>
        </div>
    </div>

    <ng-template #notEmployees> Not have employees</ng-template>
</div>

<ng-template #removeContent>
    <div class="modal_content">
        <p>Remove user</p>
        <p class="name">{{ selectedUser?.name }}</p>
    </div>
</ng-template>
<ng-template #removeFooter>
    <div class="modal_footer">
        <button nz-button (click)="closeRemoveModal()">Cancel</button>
        <button nz-button nzType="danger" (click)="removeUser()">Remove</button>
    </div>
</ng-template>
