<div class="container">
    <div class="container__info">
        <label
            class="container__info-checkbox"
            nz-checkbox
            [(ngModel)]="company.isSelected"
            (ngModelChange)="editCompany()"
        ></label>
        <span>{{ company.name }}</span>
    </div>

    <div class="container__option">
        <div class="container__option-peoples">
            <img src="assets/icons/people.svg" />
            <span>{{ company.userCount }}</span>
        </div>

        <div class="container__option-setting">
            <img src="assets/icons/edit.svg" nz-dropdown [nzDropdownMenu]="menu" />
        </div>
    </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu class="dropdown">
        <li nz-menu-item class="settings" *ngIf="isEditCompanyInfo">Settings</li>
        <li nz-menu-item>Info</li>
        <li
            class="remove"
            nz-menu-item
            (click)="showRemoveModal(removeModalRef, removeModalFooterRef)"
        >
            Remove
        </li>
    </ul>
</nz-dropdown-menu>

<ng-template #removeModalRef>
    <form class="remove_modal" [formGroup]="removeForm">
        <span> Deleting a company </span>
        <span class="remove_modal-name">{{ company.name }}</span>
        <input
            nz-input
            type="text"
            formControlName="companyName"
            placeholder="Enter your company name"
        />
        <input
            nz-input
            type="text"
            formControlName="reason"
            placeholder="Specify the reason"
        />
    </form>
</ng-template>

<ng-template #removeModalFooterRef>
    <div class="remove_modal">
        <button [disabled]="!isRemoveConfirm || !removeForm.valid" nz-button>
            Confirm
        </button>
    </div>
</ng-template>
