@import 'variables';

.container {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__info {
        display: flex;

        span {
            margin-left: 20px;
            font-size: $font_name;
        }

        &-checkbox {
            > p {
                margin: 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.5px;
                color: #201020;

                > a {
                    font-weight: 500;
                }
            }
        }
    }

    &__option {
        display: flex;

        &-peoples {
            display: flex;
            align-items: center;

            span {
                margin-left: 5px;
                font-size: $font_middle;
            }

            img {
            }
        }

        &-setting {
            min-width: 50px;
            display: flex;
            justify-content: flex-end;

            img {
                transform: rotate(90deg);
                margin-left: 30px;
                cursor: pointer;
                height: 20px;
            }
        }
    }

    .info {
    }
}

::ng-deep .ant-checkbox {
    &-inner {
        border-radius: 8px;
        width: 24px;
        height: 24px;
    }

    &-checked .ant-checkbox-inner::after {
        transform: rotate(45deg) scale(1.7) translate(-50%, -50%);
        top: 57%;
        left: 29%;
        border-radius: 1.4px;
        width: 4.5px;
        height: 8.142857px;
    }
}
