<div class="container">
    <div class="container__info">
        <label
            class="container__info-checkbox"
            nz-checkbox
            [(ngModel)]="company.isSelected"
            (ngModelChange)="editCompany()"
        ></label>
        <span>{{ company.name }}</span>
    </div>

    <div class="container__option">
        <div class="container__option-peoples">
            <img src="assets/icons/people.svg" />
            <span>9090110</span>
        </div>

        <div class="container__option-setting">
            <img src="assets/icons/edit.svg" nz-dropdown [nzDropdownMenu]="menu" />
        </div>
    </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu class="dropdown">
        <li nz-menu-item class="settings" *ngIf="isEditCompanyInfo">Settings</li>
        <li nz-menu-item>Info</li>
        <li class="remove" nz-menu-item>Remove</li>
    </ul>
</nz-dropdown-menu>
