@import '../../../assets/styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100%;
  width: 100%;
  background: $basic;

  &__box {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    min-width: 350px;
    height: 400px;
    background: white;
  }
}
