@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__task {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        width: 100%;
        margin: 2px;
        background: cornflowerblue;

        span {
            white-space: nowrap;
        }

        &-simbol {
            display: flex;
            width: 150px;
            height: 100%;
            border: 1px solid steelblue;

            a {
                color: white;
                white-space: nowrap;
                font-size: 0.9em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-name {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 5px;
            font-size: 0.8em;
        }
    }
}
