@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__input {
        margin-bottom: 5px;
    }

    &__task {
        display: flex;
        min-height: 40px;
        width: 100%;
        margin-bottom: 2px;
        background: $basic-back;

        span {
            white-space: nowrap;
        }

        &-simbol {
            display: flex;
            padding-left: 5px;
            width: 150px;

            a {
                height: 100%;
                color: white;
                white-space: nowrap;
                font-size: $font_size_title;

                &:hover {
                    text-decoration: underline;
                    color: $cursor-hover;
                }
            }
        }

        &-name {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 5px;
            font-size: $font_size_context;
            color: white;
        }

        &:hover {
            text-decoration: underline;
            border: 2px solid $cursor-hover;
        }
    }
}
