@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    background: $basic-white;
    height: 100%;
    width: 100%;

    &__input {
        margin-bottom: 5px;
    }

    &__task {
        display: flex;
        min-height: 40px;
        margin: 0 5px 5px 5px;
        background: $basic-back;
        border-width: 2px;

        &:hover {
            border-width: 5px;
        }

        span {
            white-space: nowrap;
        }

        &-priority {
            height: 100%;
            width: 10px;
        }

        &-symbol {
            display: flex;
            flex-direction: column;
            padding-left: 5px;
            width: 150px;

            .priority {
                display: flex;
                align-items: center;

                div {
                    height: 10px;
                    width: 20px;
                    margin: 0 5px 5px 0;
                }

                span {
                    color: white;
                    font-size: 0.7rem;
                }
            }

            a {
                height: 100%;
                color: white;
                white-space: nowrap;
                font-size: $font_size_title;

                &:hover {
                    text-decoration: underline;
                    color: $cursor-hover;
                }
            }
        }

        &-context {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 5px;
            font-size: $font_size_context;
            color: white;
        }

        i {
            padding: 10px;
            font-size: 15px;
            color: white;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
