$header_height: 80px;
$header_footer: 50px;

$font_size_context: 0.8em;
$font_size_title: 0.9rem;
$font_title: 1.2rem;
$font_name: 1rem;
$font_middle: 0.9rem;

$basic: #290135;
$color-basic-light: rgba(72, 17, 115, 0.1);
$basic-back: #333333;
$basic-white: #f8f8f8;
$color_back: #e5e5e5;
$cursor-hover: rgb(170, 213, 248);
