$header_height: 80px;
$header_footer: 50px;

// TEXT
$font_size_context: 0.8em;
$font_size_title: 0.9rem;
$font_title: 1.2rem;

// ... COLORS ...
$basic: #290135;
$basic-back: #333333;
$basic-white: #f0f0f4;
$cursor-hover: rgb(170, 213, 248);
